@tailwind base;
@tailwind components;
@tailwind utilities;


/*CSS for the HTML drag and drop*/

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
 
#app {
  width: 100vw;
  height: 100vh;
}
 
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}
 
.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 16px;
  background: #fcfcfc;
}
 
.dndflow aside .description {
  margin-bottom: 20px;
}
 
.dndflow .dndnode {
  height: 20px;
  padding: 15px;
  border: 2px solid #1a192b;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
 
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
 
.dndflow .selectall {
  margin-top: 10px;
}
 
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
 
  .dndflow aside {
    width: 15%;
    max-width: 250px;
  }
}

/*
CSS for nodes in DnD menu
*/
.dndnode {
  font-weight: bold;
}